
html {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;

}

body {
    max-width: 1000px;
    border-right-color: rgb(200, 200, 200);
    border-left-color: rgb(200, 200, 200);
    border-bottom-color: rgb(200, 200, 200);
    border-top-color: #f2ac04;
    border-top-width: 8px;

    border-style: solid;

    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
}
.logotype{
    text-decoration: none;
    font-weight: normal;
    color: #3c3c3c;
}
.masterHeader.logotype {
    display: block;


    float: left;
    margin-right: 22px;
}

.logoPicture {


    width: auto;

    display: block;
    float: left;

}
.logoTekstHeader{
    display: block;
    font-size: 34px;

    margin-left: 22px;
    margin-right: 1em;
    padding-right: 1em;
    border-right: #535353;
    border-right-style: solid;
    border-right-width: 1px;



    float: left;
}
.masterHeader.title{
    width: 60%;

}

.mainTitle{
    font-size: 24px;
    color: #f2ac04;
    text-transform: uppercase;
    font-weight: lighter;
    display: block;
    margin-left: 10em;

}
.subTitle{
    font-size: 14px;
    color: #3c3c3c;
    font-weight: lighter;
    display: block;
}




/*koniec headera*/

#topBorder {
    background-color: rgb(242, 172, 4);
    height: 8px;
}

h2 {

    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0px;

}

h2#yellow {
    color: #f2ac04;
}

h2#white {
    color: white;
    position: absolute;

}

h3 {
    color: #3c3c3c;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 8px;
}

h4 {
    color: #3c3c3c;
    display: inline;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;

}

h5 {
    color: #3c3c3c;
    font-size: 12px;
    font-weight: normal;

}

h6 {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: normal;
}


.headlineNav {
    color: #535353;
    margin-top: 20px;

    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

.headlineNav .nav-link {
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 18px;

}

.masterHeader .headlineNav .nav-link {
    text-transform: uppercase;
}

.masterFooter .headlineNav .nav-link {
    padding: 0;
    margin: 0;
}

.masterHeader .headlineNav {
    border-top-color: #535353;
    border-bottom-color: #535353;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;

}

.masterFooter .headlineNav {

}


#picturesPlace {

    display: inline;
}

#picturesPlace:after {
    content: "";
    display: block;
    clear: both;
}

figcaption {
    font-size: 14px;
    margin: 14px;

}

figcaption#figcaption1 {
    text-align: center;
}

figcaption#figcaption2 {
    border-top-width: 2px;
    border-top-color: #535353;
}

.picture {

    float: left;

}

#picture1 {

    border-style: solid;
    border-width: thin;
    border-color: rgb(212, 212, 212);
}

#pictureFrame {
    border-style: solid;
    border-width: thin;
    border-color: rgb(175, 175, 175);
    padding: 1px;
    width: 480px;
    margin-right: 30px;

}

#img1 {
    width: 480px;
}

#img2 {
    width: 480px;
    padding-bottom: 8px;
    border-bottom-color: #535353;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 4px;
    position: relative;
}

.content {
    float: left;
    width: 30%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(200, 200, 200);
    margin-right: 45px;
    padding-right: 22px;

}

#contentInformation:after {
    content: "";
    display: block;
    clear: both;
}

#contentInformation {
    margin-top: 40px;
    border-top-color: rgb(200, 200, 200);
    border-top-width: 1px;

    border-top-style: solid;
    padding-top: 40px;
}
.smallDate{

    margin-bottom: 32px;
    margin-right: 15px;

    border-top-width: 1px;
    border-right-color: rgb(200, 200, 200);
    border-right-style: solid;
    float: left;
}
.date{
    color: #f2ac04;
}
.month{
    font-size: 8px;
    display: block;
}
.availble{

    color: #535353;
    font-size: 10px;
    line-height: 70%;
    


}
.access{
    margin-top: 20px;
    margin-left: 15px;
}
.dateNews{
    border-bottom-style: dotted;
    border-bottom-color: #535353;
    border-bottom-width: 1px;

}
.smallHeaders{
    margin-bottom: 32px;
    display: block;
}
#telefon{
    position: relative;

}
.relative{
    position: absolute;
    margin-top: 2px;
}
.more{
    background-color: #2b2b29;
    color: white;
    margin-right: 0;
    margin-left: auto;
    font-size: 10px;
}
.moreContent{
    text-decoration: none;
    background-color: #2b2b29;
    color: white;
    margin-right: 10px;
    margin-left: auto;
    font-size: 10px;
}
.moreorientation{
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}
#clientsLogo{
    margin-top: 45px;
    padding-top:5px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgb(200,200,200);

}
#clientsLogo img{
    margin-right: 30px;
    margin-left: 30px;
}
footer{
    text-align: center;
}
.logotypeFooter{
    margin-bottom: 15px;
}
.logoFooter {
    float: left;
}
footer nav a{
    text-decoration: none;
}
#links{
    text-align: center;
}
.footerLink{
    font-size: 12px;
    color: #3c3c3c;
    text-decoration: none;

}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(images/sprite_icons.png);
}

.icon.print {
    background-position: 0 -40px;
}
.icon.email {
    background-position: 0 -84px;
}